@import url(‘https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap’);

$main-font: “Nanum Gothic”, Dotum, Helvetica, AppleGothic, Gulim, “Roboto”,
  “굴림“, Sans-serif;

$activity-bg: #f6f8f2;
$learning-bg: #f2f8f6;
$beauty-bg: #9dc2e6;
$meeting-bg: #f3f2f7;
$jeju-bg: #f7f1f8;
$korea-bg: #9fc0e5;
